@tailwind base;
@tailwind components;
@tailwind utilities;

/*  scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  transition: background 0.3s ease;
}

/* Show scrollbar on hover */
*:hover::-webkit-scrollbar-thumb {
  background: #E9ECEE;
}





